h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.title {
	padding-top: 320px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30;
	padding-top: 120px;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30;
	padding-top: 40px;
}


.title p {
	color: #777777;
	text-align: justify;
	font-size: 20px;
	margin-top: 30px;
}

footer   {
    position: fixed; /* Фиксированное положение */
    bottom: 0; right: 1;/* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #E02929; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center;
    width: 100%; /* Ширина слоя */
}