header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	
	height: 0vh;
}

nav {
	float: left;
	margin-top: 0px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-left: 80px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: #222;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 120px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30;
}

.title p {
	color: #777777;
	text-align: justify;
	font-size: 20px;
	margin-top: 30px;
	padding-right: 150px;
	padding-left: 150px;
}

#pp {
color: #777777;	
}

#toTop {
width:100px;
border:1px solid #ccc;
background:#E02929;
text-align:center;
padding:5px;
position:fixed;
bottom:70px; /* отступ кнопки от нижнего края страницы*/
right:30px;
cursor:pointer;
display:none;
color:#FFFFFF;
font-family:verdana;
font-size:11px;
}

#foot {
    position: fixed; /* Фиксированное положение */
    bottom: 0; right: 1;/* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #E02929; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center;
    width: 100%; /* Ширина слоя */

